/* CSS declarations go here */
.dropdown-menu > .login-form, .logout-button{
    min-width: 400px;
    padding: 15px;
}

.dropdown-menu > .login-form input:first-of-type{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu > .login-form input:last-of-type {
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-menu > .login-form input {
    margin: 0 0 -1px;
    border-radius: 0px;
    position: relative;
    z-index: 1;
}

.dropdown-menu > .login-form > .logout-button, .dropdown-menu > .login-form >  .btn {
    margin-top: 5px;
    margin-bottom: 10px;
}

.dropdown-menu#login{
    width: 400px !important;
}
span.remove-notification{
    cursor: pointer;
}
td.created-at{
    width: 180px;
}

.list-group-item>div{
    display: table;
    width: 100%;
    padding-left: 15px;
}

.table-cell-plus{
    display: table-cell;
    margin-right: 15px;
}

.table-cell-select{

    display: table-cell;
    width: 100%;
}
div.description {
    border-radius: 4px;
    padding: 5px;
    background-color: #f0f0f0;
    word-break: break-all;
    margin: 5px;
}

select.user-select{

    border: 1px solid #111;
    background: transparent;
    width: auto;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E") 96% / 15% no-repeat #eee;
}
ul.list-style-none{
    list-style: none;
}
.text-valign-center{
    vertical-align: middle;
}

.draggable-mouse{
    cursor: move;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.on-drag-over{
    border-color: #89c926;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 255, 0, 0.6);;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 255, 0, 0.6);
}

img.fit-in-div{
    max-height: 100%;
    max-width: 100%;
}

table.result-table {
    table-layout: fixed;
    word-wrap: break-word;
}

td.text-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}